*{
 font-family: 'Ubuntu', sans-serif;   
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #1b1b1e;
  transition: top 0.3s ease-in-out;
}

nav.hidden{
  top: -100px;
}
body {
    background-color: #1b1b1e;
}

header {
    margin: 0;
    padding: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: yellow;
    background-color: black;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-logo {
    margin-top: -10px;
    margin-left: 650px;
    position: absolute;
    padding: 0px;
    border: 0px;
    width: 200px;
}

.Menu1 {
    margin-left: 150px;
    margin-top: 25px;
    display: flex;
    z-index: 2;
}

.menu2 {
    margin-left: 925px;
    margin-top: -17px;
    display: flex;
    z-index: 2;
}

.arrow {
    font-size: 18px;
    color: white;
}

.Dream,
.built {
    border: none;
    padding: 0px;
    overflow: hidden;
    text-decoration: none;
    background: none;
    color: white;
    font-size: 15px;
}

.Build {
    padding: 0px;
    border: none;
    outline: none;
    padding: 0;
    overflow: hidden;
    min-width: 160px;
    font-size: 15px;
}

.Pc {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    text-align: center;
}

.sec-1,
.sec1-2,
.sec2-1,
.sec2-2,
.sec2 {
    margin-top: 2px;
    margin-left: 60px;
}

.sec1,
.sec-1,
.sec1-2,
.sec2,
.sec2-1,
.sec2-2 {
    display: block;
    float: none;
    color: white;
    text-decoration: none;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
}

.sec1 {
    color: yellow;
}

.Pc a:hover {

    border-bottom: 2px solid yellow;
}

.main_logo {
    margin-left: 500px;
    margin-top: 160px;
}

.Build:hover .Pc {
    display: block;
    background-color: black;
}

.sec-1:hover {
    border-bottom: 2px solid yellow;
}

.sec1-2:hover {
    border-bottom: 2px solid yellow;
}

.sec2:hover {
    border-bottom: 2px solid yellow;
}

.sec2-1:hover {
    border-bottom: 2px solid yellow;
}

.sec2-2:hover {
    border-bottom: 2px solid yellow;
}

.ul {
    list-style-type: none;
}

.pre {
    margin-left: 60px;
}

body {
        background-color: #1b1b1e;
        margin: 0;
        padding: 0;
    }
.hewad{
    margin-top: -50px;
    margin-left: 50px;
}
.con{
    font-size: 50px;
    color: yellow;
    margin-top: 150px;
}
.us{
    color: white;
    font-size: 50px;
    margin-left: 189px;
    margin-top: -90px;
}
h4{
    color: white;
    font-size:20px;
}
      form {
        background-color: white;
        margin: 20px;
        padding: 20px;
        border: 1px solid #333;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #333;
        width: 50%;
        max-width: 600px;
        margin: auto;
        margin-left: 50px;
      }
.toll{
  background-color: #f1f1f1;
  padding: 20px;
  margin-left: 3.5%;
  width: 390px;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
}
.set{
    width:35px;
    height:35px;
}
.tech{
    background-color: #f1f1f1;
  padding: 20px;
margin-left: 36.5%;
    margin-top: -188px;
  width: 390px;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
}

.other{
    background-color: #f1f1f1;
  padding: 20px;
  margin-left: 70%;
    margin-top: -191px;
  width: 390px;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
}

.toll h2, .tech h2,other h2 {
  margin-top: 10px;
  font-size: 24px;
}

.toll p.free, .tech p ,other.p{
  margin: 0;
}
#myButton{
    margin-top: 12px;
  font-weight: bold;
    border: none;
  font-size: 15px;
  background: yellow;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
#Btn{
    font-weight: bold;
    border: none;
  font-size: 15px;
  background: yellow;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
#myButton:hover{
    background: #1b1b1e;
    color: white;
}
#Btn:hover{
    background: #1b1b1e;
    color: white;
}
.mail{
    color: white;
    font-size: 22px;
}
.email{
    font-size: 23px;
    margin-top: -15px;
}
.loc{
    color: white;
}
.south{
    color: white;
    font-weight: normal;
    font-size: 16px;
}
.hydra{
    color: white;
    font-size: 26px;   
}
.location{
    color: white;
    font-weight: normal;
}
.time{
    margin-top: -250px;
}
.store{
    margin-bottom: 30px;
    width: 650px;
    margin-top: -120px;
    margin-left: 825px;
}
  .phone {
        margin-bottom: 10px;
        width: 50%;
        max-width: 600px;
        margin: auto;
      }
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      input[type="text"],
      input[type="email"],
      textarea {
        width: 95%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
      }
      input[type="Submit"] {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }
      
      input[type="Submit"]:hover {
        color: black;
        background-color: yellow;
      }
      form{
        margin-top:50px;
      }
      
      /* Responsive Design */
      @media only screen and (max-width: 600px) {
        form {
          width: 90%;
        }
      }