.slider {
  position: relative;
}

.slider img {
  width: 75%;
  display: none;
  border-radius:25% ;
}

.slider img:first-child {
  display: block;
}

.dots {
  text-align: straight;
  margin-left: 140px;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 25%;
  background-color:whitesmoke;
  margin: 0 5px;
  cursor: pointer;

}

.active {
  background-color: black;
}
