*{
margin:0;
padding:0;
font-family: 'Ubuntu', sans-serif;
box-sizing:border-box;
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #1b1b1e;
  transition: top 0.3s ease-in-out;
}

nav.hidden{
  top: -100px;
}
body {
    background-color: #1b1b1e;
}

header {
    margin: 0;
    padding: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: yellow;
    background-color: black;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-logo {
    margin-top: -10px;
    margin-left: 650px;
    position: absolute;
    padding: 0px;
    border: 0px;
    width: 200px;
}

.Menu1 {
    margin-left: 150px;
    margin-top: 25px;
    display: flex;
    z-index: 2;
}

.menu2 {
    margin-left: 925px;
    margin-top: -17px;
    display: flex;
    z-index: 2;
}

.arrow1 {
    font-size: 18px;
    color: white;
}

.Dream,
.built {
    border: none;
    padding: 0px;
    overflow: hidden;
    text-decoration: none;
    background: none;
    color: white;
    font-size: 15px;
}

.Build {
    padding: 0px;
    border: none;
    outline: none;
    padding: 0;
    overflow: hidden;
    min-width: 160px;
    font-size: 15px;
}

.Pc {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    text-align: center;
}

.sec-1,
.sec1-2,
.sec2-1,
.sec2-2,
.sec2 {
    margin-top: 2px;
    margin-left: 60px;
}

.sec1,
.sec-1,
.sec1-2,
.sec2,
.sec2-1,
.sec2-2 {
    display: block;
    float: none;
    color: white;
    text-decoration: none;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
}

.sec1 {
    color: yellow;
}

.Pc a:hover {

    border-bottom: 2px solid yellow;
}

.main_logo {
    margin-left: 500px;
    margin-top: 160px;
}

.Build:hover .Pc {
    display: block;
    background-color: black;
}

.sec-1:hover {
    border-bottom: 2px solid yellow;
}

.sec1-2:hover {
    border-bottom: 2px solid yellow;
}

.sec2:hover {
    border-bottom: 2px solid yellow;
}

.sec2-1:hover {
    border-bottom: 2px solid yellow;
}

.sec2-2:hover {
    border-bottom: 2px solid yellow;
}

.ul {
    list-style-type: none;
}

.pre {
    margin-left: 60px;
}
p{
    color: white;
}
h1{color: white;
    margin-left:500px;}

h2{color: white;}

.add-to-cart {
  font-weight: bold;
  border: 3px solid yellow;
  font-size: 15px;
  background: yellow;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.checkout{
    font-weight: bold;
    text-decoration: none;
    border: 3px solid yellow;
  font-size: 15px;
  background: yellow;
  text-decoration: none;
  color: #1b1b1e;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.checkout:hover{
    background-color: #1b1b1e;
    color: white;
    font-size: 17px;
}
.add-to-cart:hover{
    background-color: #1b1b1e;
    color: white;
}
.cart {
  margin-top: 65px;
  margin-left: 1038px;
  width: 475px;
  height: 725px;  
  padding: 15px;
  position: fixed;
  background: #1b1b1e;
  border: 1px solid yellow;
  }
.sel{
    margin-top:85px;
}
.product{ 
    padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.producthy{
    margin-left:40px; 
    padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.product2{
    margin-right: 25px;
    padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.product3{
    margin-right: 70px;
    padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.product4{
  margin-left: 85px;
  padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.product4-1{
  margin-left: 30px;
  padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.game-case1{
    margin-bottom: -26px;
    width: 325px;
    height: 325px;
}
.stu-case{
    margin-bottom: -25px;
    width: 250px;
    height: 250px;
}
.stu-case2{
    margin-bottom: -18px;
    width: 235px;
    height: 235px;
}
.game-case{
    width: 250px;
    height: 250px;
}
.stu-case3{
    width:238px;
    height: 238px;
}
.hyr-case{
    width: 250px;
    height: 250px;
}
.hyr-case2{
    width: 285px;
    height: 285px;
}
.product1{
  margin-left: -70px;
  padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.productam2{
  padding: 38px;
  margin-bottom: 20px;
  display: inline-block;
}
.product-amd{
  margin-left: -70px;
  padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.stu-process1{
    margin-bottom: -30px;
    width: 380px;
    height: 300px;
}
.game-process,.stu-process{
    width: 250px;
    height: 225px;
}
.hyr-process{
    width: 250px;
    height: 250px;
}
.product-hy{
     margin-left: 60px;
  padding: 15px;
  margin-bottom: 25px;
  display: inline-block;
}
.product-amdhy{
    margin-left: -190px;
  padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.stu-process-am1,.hyr-process-am1{
    width: 300px;
    height: 300px;
}
.stu-process-am2,.hyr-process-am2{
    width: 328px;
    height: 280px;
}
.hyr-process-am3{
    width: 600px;
    height: 250px;
}
.game-board,.stu-board,.hyr-board{
    width: 250px;
    height: 250px;
}
.game-ram,.stu-ram{
    width: 300px;
}
.hyr-ram1{
    width:300px;
}
.hyr-ram2{
    width: 270px;
    margin-bottom: 10px;
}
.hyr-ram3{
    margin-bottom: -2px;
    width: 300px;
}
.stu-ram1{
    width: 300px;
    margin-bottom: -40px;
}
.stu-ram2{
    width: 300px;
    margin-bottom: -110px;
}
.game-video,.stu-video,.hyr-video{
     width: 200px;
    height: 200px;
}
.game-smps,.stu-smps{
    width: 250px;
    height: 250px;
}
.game-cool,.stu-cool{
    width: 250px;
    height: 250px;
}
.hyr-cool1{
    width: 225px;
}
.stu-cool1{
    width:350px; 
}
.game-store,.stu-store{
    width: 325px;
    height: 325px;
}
.game-store1{
    width: 340px;
}
.game-wifi{
    width: 300px;
    height: 300px;
}
.ad{
    background-color: white;
}
.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-item span {
  margin-left: 10px;
}

.total-price {
    color:white;
    font-weight: bold;
}
.item-name{
    color:white;
}